In [38]:
from statistics import stdev, mean
import numpy as np
import pandas as pd

In [54]:
x = [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5]
y1 = [8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 10.84, 4.82,
5.68]
y2 = [9.14, 8.14, 8.74, 8.77, 9.26, 8.10, 6.13, 3.10, 9.13, 7.26, 4.74]
y3 = [7.46, 6.77, 12.74, 7.11, 7.81, 8.84, 6.08, 5.39, 8.15, 6.42,
5.73]
x4 = [8, 8, 8, 8, 8, 8, 8, 19, 8, 8, 8]
y4 = [6.58, 5.76, 7.71, 8.84, 8.47, 7.04, 5.25, 12.50, 5.56, 7.91,
6.89]

In [25]:
print (mean(x),mean(y1),mean(y2),mean(y3),mean(x4),mean(y4))

9 7.500909090909091 7.500909090909091 7.5 9 7.500909090909091

In [27]:
print (stdev(x),stdev(y1),stdev(y2),stdev(y3),stdev(x4),stdev(y4))

3.3166247903554 2.031568135925815 2.0316567355016177 2.030423601123667 3.3166247903554 2.0305785113876023

In [52]:
a = {'x': [10, 8, 13, 9, 11, 14, 6, 4, 12, 7, 5],
    'y1':[8.04, 6.95, 7.58, 8.81, 8.33, 9.96, 7.24, 4.26, 10.84, 4.82, 5.68],
    'y2':[9.14, 8.14, 8.74, 8.77, 9.26, 8.10, 6.13, 3.10, 9.13, 7.26, 4.74],
    'y3':[7.46, 6.77, 12.74, 7.11, 7.81, 8.84, 6.08, 5.39, 8.15, 6.42, 5.73],
    'x4':[8, 8, 8, 8, 8, 8, 8, 19, 8, 8, 8],
    'y4':[6.58, 5.76, 7.71, 8.84, 8.47, 7.04, 5.25, 12.50, 5.56, 7.91,6.89]}

In [53]:
df = pd.DataFrame(data=a)
df.corr()

           x        y1        y2        y3        x4        y4
x   1.000000  0.816421  0.816237  0.816287 -0.500000 -0.314047
y1  0.816421  1.000000  0.750005  0.468717 -0.529093 -0.489116
y2  0.816237  0.750005  1.000000  0.587919 -0.718437 -0.478095
y3  0.816287  0.468717  0.587919  1.000000 -0.344661 -0.155472
x4 -0.500000 -0.529093 -0.718437 -0.344661  1.000000  0.816521
y4 -0.314047 -0.489116 -0.478095 -0.155472  0.816521  1.000000